<script type='text/template' id='variant_autocomplete_template'>
  <div class="variant-autocomplete-item media">

    <div class="media-body">
      <h6 class="media-heading">
        {{#if variant.sku}}
          {{variant.sku}}
        {{else}}
        {{variant.name}}
        {{/if}}
      </h6>
    </div>
  </div>
</script>
